<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <div class="main_box">
        <div class="scroll"></div>
        <div class="main_login">
            <p>Book-O-Sphere</p>
            <p>Welcome to Book-O-Sphere</p>
            <div class="login_form">
                <form action="/register" method="POST" id="main_form">
                    <label for="Username">Username:</label>
                    <input type="text"
                     id="username" name="username" required />
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                    <label for="password">re-type Password:</label>
                    <input type="password" id="Repassword" name="Repassword" required />
                    <% if (userTaken) { %>
                        <script>alert("User Already Taken"); userTaken = false</script>     
                    <% } %>
                    <input type="submit" value="Sign in" id="signIn">
                    <h5><span>or</span></h5>
                    <div id="login_links">
                        <a href="/auth/facebook" role="button" id="meta"><img src="svgs/meta.svg" alt=""></a>
                        <a href="/auth/github" role="button" id="github"><img src="svgs/github.svg" alt=""></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    const finalSubmit = (e) => {
        e.preventDefault()
        const pass = document.querySelector("#password").value
        const Repass = document.querySelector("#Repassword").value
        if(pass !== Repass)
            alert("both Passwords do not match")
        else
            document.querySelector("#main_form").submit()
    }
    document.querySelector("#main_form").addEventListener("submit", finalSubmit);
</script>
</html>