<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Login.css">
</head>

<body>
    <div class="main_box">
        <div class="scroll"></div>
        <div class="main_login">
            <p>Book-O-Sphere</p>
            <p>Welcome to Book-O-Sphere</p>
            <div>
                <form action="/register" method="POST">
                    <label for="Username">Username:</label>
                    <br>
                    <input type="text" id="Username" placeholder="Email" name="username" required />
                    <br>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" id="password" placeholder="Type Password" name="password" required />
                    <br>
                    <input type="submit">
                </form>
            </div>
            <p>new here <a href="/">login</a></p>
        </div>
    </div>
</body>

</html>